[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "==4.5.5.62"
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
requests = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
